@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600,800&display=swap');

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  margin-top: 50px;
}

header h1 {
  font-weight: 200;
  font-size: 38px;
  color: #4c4e61;
  text-align: center;
}

header p {
  margin: -20px auto;
  margin-bottom: 50px;
  color: #a3a5ae;
  text-align: center;
}

.box {
  width: 80%;
  margin: 40px auto 20px;
  display: -ms-grid;
  display: grid;
  grid-template: ". team ." "superv team calc" "superv karma calc" ". karma .";
  gap: 20px;
}

.square {
  background-color: white;
  width: 360px;
  height: 285px;
  border-radius: 8px;
  padding: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

 h2 {
  color: #4c4e61;
  font-size: 22px;
}

.square p {
  font-size: 15px;
  color: #a3a5ae;
}

 .img {
  text-align: right;
  margin-top: 50px;
}

.green {
  grid-area: superv;
  border-top: 5px solid #45d3d3;
}

.red {
  grid-area: team;
  border-top: 5px solid red;
}

.yellow {
  grid-area: karma;
  border-top: 5px solid #fcaf4a;
}

.blue {
  grid-area: calc;
  border-top: 5px solid #549ef2;
}
